#django settings
SECRET_KEY=
DEBUG=

#postgres settings
PG_HOST=
PG_PORT=
PG_USER=
PG_PASSWORD=
PG_DBNAME=

#stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_CHECKOUT_SUCCESS_URL=
STRIPE_CHECKOUT_CANCEL_URL=